<div class='container mx-auto text-center mt-5'>
  <div class="card text-center col-8 mx-auto">
    <div class="card-header">
      WELCOME BACK!
    </div>
    <div class="card-body">
      <h4 class="card-title">Welcome back, {{cookieUserName}}!</h4>
      <p class="card-text">If you want to log out, please click the button below.</p>
      <a href="./logout" class="btn btn-outline-dark">log out</a>
    </div>
    <div class="card-footer text-muted">
      Note: if you click the button "log out", the cookie will be cleared!
    </div>
  </div>
</div>